# Uncomment lines below for any parameter whose default value you want to change.
# For parameters marked "N/A" (not available) the default value could not be determined, but you can override in the same way.

#-G/low_pass_flter/n=16
#-G/low_pass_flter/R0_l/n=13
#-G/low_pass_flter/R1_l/n=13
#-G/low_pass_flter/R2_l/n=13
#-G/low_pass_flter/R3_l/n=13
#-G/low_pass_flter/R4_l/n=13
#-G/low_pass_flter/R5_l/n=13
#-G/low_pass_flter/R6_l/n=13
#-G/low_pass_flter/R7_l/n=13
#-G/low_pass_flter/R8_l/n=13
#-G/low_pass_flter/R9_l/n=13
#-G/low_pass_flter/R10_l/n=13
#-G/low_pass_flter/R11_l/n=13
#-G/low_pass_flter/R12_l/n=13
#-G/low_pass_flter/R13_l/n=16
#-G/low_pass_flter/R14_l/n=16
#-G/low_pass_flter/R15_l/n=16
#-G/low_pass_flter/inv_B6/n=16
#-G/low_pass_flter/SUM_0/n=16
#-G/low_pass_flter/SUM_0/k=2
#-G/low_pass_flter/SUM_02/n=16
#-G/low_pass_flter/SUM_02/k=2
#-G/low_pass_flter/INV_Y_A2/n=16
#-G/low_pass_flter/SUM_03/n=16
#-G/low_pass_flter/SUM_03/k=2
